@{
    ViewData["Title"] = "Paquetes T";
}
<form action='@Url.Action("GuardarPaquete","Home")'>
    <input type="number" name="Destinos" min="1" max="10">
    <input type="number" name="Hoteles" min="1" max="10">
    <input type="number" name="Aereos" min="1" max="10">
    <input type="number" name="Excursiones" min="1" max="10">

    <input type="submit">
</form>